
body{
    padding-top:100px;
    font-family: 'Poppins', sans-serif;
}



h3{
    margin-top:70px;
}


.content {
    padding: 20px;
}

.sign-in .sign-up:hover {
    cursor: pointer;
}


.title {
    font-size: 3em;
    color: #4A90E2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0; 
}

img {
    width: 200px;
}

h3 {
    color: #4A90E2;
}

body {
    margin-top: 20px;
    background: #eee;
}

.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #3f43fd;
    overflow: hidden;
}

.single_advisor_profile .advisor_thumb::after {
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    transform: rotate(-15deg);
}

@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}

.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}

.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
}

.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}

.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

.single_advisor_profile .single_advisor_details_info::after {
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #3f43fd;
    content: "";
    top: 12px;
    right: 30px;
}

.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    transition-duration: 500ms;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}

.single_advisor_profile .single_advisor_details_info p {
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size : 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}

.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070a57;
}

.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
}
.content>p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    color: #333; 
    margin: 20px 0; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-left: 5px solid blue; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}
.header {
    position: fixed;
    height:10px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    border-color: #eaeaea;
}

.social-media a i {
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}










@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0px) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes car {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes rhombus2 {
    0% {
        right: -40%;
        opacity: 0;
    }
    
    100% {
        right: -25%;
        opacity: 1;
    }
}